/* Estilos */
.boton {
    border-radius: 10px;
    margin-left: 30px;
    width: 150px;
    height: 70px;
    font-size: 16px;
    background-color: #5dc29d;
    color: white;
    transition-duration: 0.4s;
}

.boton:hover {
    background-color: #04AA6D;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(85, 54, 54, 0.514);
}
